:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-image: url(images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.header {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 70px;
  padding-top: 30px;
  font-size: 26px;
  font-weight: bold;
}
.link {
  text-decoration: none;
  padding-left: 20px;
  color: white;
  font-weight: bold;
  font-style: oblique;
  font-size: 30px;
}
.link:hover {
  color: rgb(15, 145, 188);
}
.contanier {
  text-align: center;
  padding-top: 100px;
}
#search-input {
  font-size: 20px;
}
#search-button {
  margin-left: 20px;
  font-size: 20px;
  background-color: #78bacb;
  border-radius: 10px;
  color: white;
}
.table {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border: #78bacb;
}
table {
  margin-top: 20px;
}
th,
td {
  border: 1px solid #78bacb;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #a8cfde;
}
.mytable {
  display: none;
}
.sign-form {
  text-align: center;
  padding-top: 100px;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border: #78bacb;
}
/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
